* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
}

#carousel-container {
    position: relative;
    width: 600px;
    overflow: hidden;
    margin-top: 20px;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    display: none;
}

.carousel-item.visible {
    display: block;
}

.carousel-img {
    width: 100%;
    height: auto;
}

.visible {
    display: block !important;
}

#prevBtn,
#nextBtn {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 1;
}

#prevBtn {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#nextBtn {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}